<li class="leftbar-toggle" id="leftbar-toggle">
    <span class="leftbar-toggle-tooltiptext-hide" id="leftbar-toggle-tooltiptext-hide">Click to hide sidebar</span>
    <span class="leftbar-toggle-tooltiptext-show" style="display: none;" id="leftbar-toggle-tooltiptext-show">Click to show sidebar</span>
    <span id="sidebar-toggle-left">{{ partial "helper/icon" "sidebar-toggle-left" }}</span>
    <span id="sidebar-toggle-right">{{ partial "helper/icon" "sidebar-toggle-right" }}</span>
</li>

<aside class="sidebar left-sidebar sticky {{ if .Site.Params.sidebar.compact }}compact{{ end }}" id="left-side-bar">
    <div class="left-sidebar-inside sidebar-common">
        <button class="hamburger hamburger--spin" type="button" id="toggle-menu" aria-label="{{ T `toggleMenu` }}">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        {{ with .Site.Params.sidebar.avatar }}
            {{ if (default true .enabled) }}
            <div style="width: 100%; display: flex; flex-direction:row; justify-content: center; align-items: center;">
                <figure class="site-avatar">
                    <a href="{{ .Site.BaseURL | relLangURL }}">
                    {{ if not .local }}
                        <img src="{{ .src }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
                    {{ else }}
                        {{ $avatar := resources.Get (.src) }}
                        
                        {{ if $avatar }}
                            {{ $avatarResized := $avatar.Resize "300x" }}
                            <img src="{{ $avatarResized.RelPermalink }}" width="{{ $avatarResized.Width }}"
                                height="{{ $avatarResized.Height }}" class="site-logo" loading="lazy" alt="Avatar">
                        {{ else }}
                            {{ errorf "Failed loading avatar from %q" . }}
                        {{ end }}
                    {{ end }}
                    </a>
                    {{ with $.Site.Params.sidebar.level }}
                        <div class="level">
                            <div class="level-number">{{ . }}</div>
                            <div class="level-LV">LV</div>
                        </div>
                    {{ end }}
                </figure>
            </div>
            {{ end }}
        {{ end }}

        <header>            
            <div class="site-meta">
                <h1 class="site-name"><a href="{{ .Site.BaseURL | relLangURL }}">Dr. {{ .Site.Params.sideBar.doctor }}</a></h1>
                <h2 class="site-description">{{ .Site.Params.sidebar.subtitle | safeHTML }}</h2>
            </div>
        </header>
    
        {{- with .Site.Menus.social -}}
            <ol class="social-menu">
                {{ range . }}
                    <li>
                        <a 
                            href='{{ .URL }}'
                            {{ if eq (default true .Params.newTab) true }}target="_blank"{{ end }}
                            {{ with .Name }}title="{{ . }}"{{ end }}
                            rel="me"
                        >
                            {{ $icon := default "link" .Params.Icon }}
                            {{ with $icon }}
                                {{ partial "helper/icon" . }}
                            {{ end }}
                        </a>
                    </li>
                {{ end }}
            </ol>
        {{- end -}}
    
        <ol class="menu" id="main-menu">
            {{ $currentPage := . }}
            {{ range sort .Site.Menus.main "Weight" "desc" }}
            {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
            <li {{ if $active }} class='current' {{ end }}>
                <a href='{{ .URL }}' {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                    {{ $icon := default .Pre .Params.Icon }}
                    {{ if .Pre }}
                        {{ warnf "Menu item [%s] is using [pre] field to set icon, please use [params.icon] instead.\nMore information: https://docs.stack.jimmycai.com/configuration/custom-menu.html" .URL }}
                    {{ end }}
                    {{ with $icon }}
                        {{ partial "helper/icon" . }}
                    {{ end }}
                    <span>{{- .Name -}}</span>
                </a>
            </li>
            {{ end }}
    
            <div class="menu-bottom-section">
                {{- $currentLanguageCode := .Language.Lang -}}
                {{ with .Site.Home.AllTranslations }}
                    <li id="i18n-switch">
                        {{ partial "helper/icon" "language" }}
                        <select name="language" onchange="window.location.href = this.selectedOptions.value">
                            {{ range . }}
                                <option value="{{ .Permalink }}" {{ if eq .Language.Lang $currentLanguageCode }}selected{{ end }}>{{ .Language.LanguageName }}</option>
                            {{ end }}
                        </select>
                    </li>
                {{ end }}
                
                {{ if (default false .Site.Params.colorScheme.toggle) }}
                    <li id="dark-mode-toggle">
                        {{ partial "helper/icon" "toggle-left" }}
                        {{ partial "helper/icon" "toggle-center" }}
                        {{ partial "helper/icon" "toggle-right" }}
                        <span id="dark-mode-light" >{{ T "darkMode.light" }}</span>
                        <span id="dark-mode-auto" >{{ T "darkMode.auto" }}</span>
                        <span id="dark-mode-dark" >{{ T "darkMode.dark" }}</span>
                    </li>
                {{ end }}

                {{ if eq .Site.Params.appreciateBackgroundOption.enabled true }}
                    <div style="width: 100%; display:flex; justify-content:center; align-items: center;">
                        <button id="appreciate-background-btn" style="padding:20px; border-width:0; border-radius: 40px; width: 250px; color: white; font-weight: 1000;"> Appreciate Background </button>
                        <script>
                            function notify(type,message){
                                (()=>{
                                    let n = document.createElement("div");
                                    let id = Math.random().toString(36).substr(2,10);
                                    n.setAttribute("id",id);
                                    n.classList.add("notification",type);
                                    n.classList.add("fade_out")
                                    n.innerText = message;
                                    document.getElementById("notification-area").style.zIndex = 9999;
                                    document.getElementById("notification-area").appendChild(n);
                                    setTimeout(()=>{
                                        var notifications = document.getElementById("notification-area").getElementById("notification");
                                        for(let i=0;i<notifications.length;i++){
                                        if(notifications[i].getAttribute("id") == id){
                                            notifications[i].remove();
                                            break;
                                        }
                                        }
                                    },5000);
                                })();
                            }
                              
                            function notifyNotWorry(){
                                notify("info","Don't worry, click your mouse or press any key and we are back~");
                            }

                            function clickEvent(event) {
                                var background = document.getElementById("background-img");
                                background.style.zIndex = -1;
                                document.getElementById("background-img").removeEventListener("click", clickEvent);
                                document.getElementById("notification-area").style.zIndex = -1;
                            }

                            var backgroundBtn = document.getElementById("appreciate-background-btn");
                            backgroundBtn.addEventListener("click", function(e) {
                                var background = document.getElementById("background-img");
                                background.style.zIndex = 999;
                                console.log(background, background.style.zIndex);
                                notifyNotWorry();
                                document.onkeydown = function(evt) {
                                    evt = evt || window.event;
                                    var background = document.getElementById("background-img");
                                    background.style.zIndex = -1;
                                }
                                document.getElementById("background-img").addEventListener("click", clickEvent);
                            });
                        </script>
                    </div>
                {{ end }}
            </div>
        </ol>
    </div>
</aside>