<li class="rightbar-toggle" id="rightbar-toggle">
    <span class="rightbar-toggle-tooltiptext-hide" id="rightbar-toggle-tooltiptext-hide">Click to hide sidebar</span>
    <span class="rightbar-toggle-tooltiptext-show" style="display: none;" id="rightbar-toggle-tooltiptext-show">Click to show sidebar</span>
    <span id="rightbar-toggle-right">{{ partial "helper/icon" "sidebar-toggle-right" }}</span>
    <span id="rightbar-toggle-left">{{ partial "helper/icon" "sidebar-toggle-left" }}</span>
</li>

{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}
    <aside class="sidebar right-sidebar sticky" id="right-sidebar">
        <div class="right-sidebar-inside sidebar-common">
            {{ range $widget := . }}
                {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                    {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" .params) }}
                {{ else }}
                    {{ warnf "Widget %s not found" .type }}
                {{ end }}
            {{ end }}
        </div>
    </aside>
{{ end }}