<script>
    var leftToggleFunc = function() {
        document.getElementById("left-sidebar").style.display = 'none';
        document.getElementById("main-inside").style.width = '70vw';
        document.getElementById('leftbar-toggle-left').style.display = 'none';
        document.getElementById('leftbar-toggle-right').style.display = 'block';
        document.getElementById('leftbar-toggle-tooltiptext-hide').style.display = 'none';
        document.getElementById('leftbar-toggle-tooltiptext-show').style.display = 'block';
    }

    var rightToggleFunc = function() {
        document.getElementById("right-sidebar").style.display = 'none';
        document.getElementById("left-sidebar").style.maxWidth = '20vw';
        document.getElementById("left-sidebar-inside").style.width = '20vw';
        document.getElementById('rightbar-toggle-right').style.display = 'none';
        document.getElementById('rightbar-toggle-left').style.display = 'block';
        document.getElementById('rightbar-toggle-tooltiptext-hide').style.display = 'none';
        document.getElementById('rightbar-toggle-tooltiptext-show').style.display = 'block';
    }

    document.getElementById('leftbar-toggle-left').addEventListener('click', leftToggleFunc);
    document.getElementById('leftbar-toggle-tooltiptext-hide').style.display = 'block';
    document.getElementById('leftbar-toggle-tooltiptext-show').style.display = 'none';
    document.getElementById('rightbar-toggle-right').addEventListener('click', rightToggleFunc);
    if (window.innerWidth < 2200 ) {
        document.getElementById('rightbar-toggle-right').style.display = 'none';
        document.getElementById("right-sidebar").style.display = 'none';
        document.getElementById('rightbar-toggle-tooltiptext-hide').style.display = 'none';
        document.getElementById('rightbar-toggle-tooltiptext-show').style.display = 'block';
    }

    var leftBackFunc = function() {
        document.getElementById("left-sidebar").style.display = 'block';
        document.getElementById("main-inside").style.width = '55vw';
        document.getElementById('leftbar-toggle-right').style.display = 'none';
        document.getElementById('leftbar-toggle-left').style.display = 'block';
        document.getElementById('leftbar-toggle-tooltiptext-hide').style.display = 'block';
        document.getElementById('leftbar-toggle-tooltiptext-show').style.display = 'none';
    }


    var rightBackFunc = function() {
        document.getElementById("right-sidebar").style.display = 'block';
        document.getElementById("left-sidebar").style.maxWidth = '13vw';
        document.getElementById("left-sidebar-inside").style.width = '13vw';
        document.getElementById('rightbar-toggle-left').style.display = 'none';
        document.getElementById('rightbar-toggle-right').style.display = 'block';
        document.getElementById('rightbar-toggle-tooltiptext-hide').style.display = 'block';
        document.getElementById('rightbar-toggle-tooltiptext-show').style.display = 'none';
    }

    document.getElementById('leftbar-toggle-right').addEventListener('click', leftBackFunc);
    document.getElementById('leftbar-toggle-right').style.display = 'none';
    document.getElementById('rightbar-toggle-left').addEventListener('click', rightBackFunc);
    if (window.innerWidth >= 2200 ) {
        document.getElementById('rightbar-toggle-left').style.display = 'none';
        document.getElementById('rightbar-toggle-tooltiptext-hide').style.display = 'block';
        document.getElementById('rightbar-toggle-tooltiptext-show').style.display = 'none';
    }
</script>