.container {
    margin-left: auto;
    margin-right: auto;

    .left-sidebar {
        order: -3;
        max-width: 400px;
    }

    .left-sidebar-inside {
        width: var(--left-sidebar-width);
        max-width: 400px;
    }

    .right-sidebar {
        order: -1;
        max-width: 400px;

        /// Display right sidebar when min-width: lg
        @include respond(lg) {
            display: flex;
        }
    }

    .right-sidebar-inside {
        width: var(--right-sidebar-width);
        max-width: 400px;
    }

    &.extended {
        @media (min-width: 0) {
            max-width: 90vw;
            --left-sidebar-width: 20vw;
        }
    }
}

.flex {
    display: flex;
    flex-direction: row;

    &.column {
        flex-direction: column;
    }

    &.on-phone--column {
        flex-direction: column;
        @include respond(md) {
            flex-direction: unset;
        }
    }

    .full-width {
        width: 100%;
    }
}

main.main {
    order: -2;
    padding: 0 0 0 0;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--section-separation);
    
    @include respond(md) {
        padding: 0 20px;
    }
}

[data-scheme="dark"] {
    .main-inside {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.main-inside {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-separation);
    width: 55vw;

    header {
        width: 100%;
    }
}