<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}" style="height: 100vh;">
        {{- partial "head/colorScheme" . -}}
        {{ partial "background/background.html" . }}
        <div id="notification-area">
            <div id="notification-logo">
                <div id="notification-logo-danger" style="display:none; flex-direction:row; align-items:center; padding-right: 5px">{{ partial "helper/icon" "md-hint-danger" }}</div>
                <div id="notification-logo-warning" style="display:none; flex-direction:row; align-items:center; padding-right: 5px">{{ partial "helper/icon" "md-hint-warning" }}</div>
                <div id="notification-logo-success" style="display:none; flex-direction:row; align-items:center; padding-right: 5px">{{ partial "helper/icon" "md-hint-success" }}</div>
                <div id="notification-logo-info" style="display:none; flex-direction:row; align-items:center; padding-right: 5px">{{ partial "helper/icon" "md-hint-info" }}</div>
            </div>
            <div id="notification-text">
            </div>
            <div id="notification-disappear" onclick="notificationDisappear()">
                {{ partial "helper/icon" "close" }}
            </div>
            <script type="application/javascript">
                function notificationDisappear() {
                    document.getElementById("notification-area").style.display = "none";
                }
            </script>
        </div>

        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            {{- block "right-sidebar" . -}}{{ end }}
            <main class="main">
                <div class="main-inside" id="main-inside">
                    {{- block "main" . }}{{- end }}
                </div>
            </main>
        </div>
        {{ partial "footer/include.html" . }}
        {{ partial "color/random_color.html" . }}
        {{ partial "sakana/sakana.html" . }}
        {{ partial "sidebar/toggle.html" . }}
    </body>
</html>
