<script>
    const date = new Date();
    var body = document.body;
    if (date.getMonth() < 3) {
        body.style.backgroundImage = url('https://i.ibb.co/wNtTWxm/spring-festival.jpg');
    }
    else {
        let backgrounds = [
            "https://i.ibb.co/Fw04fPW/youlingsha.png",
            "https://i.ibb.co/9VCyZdv/sea.jpg",
            "https://i.ibb.co/LJ7sfxM/skadi.jpg",
            "https://i.ibb.co/YymCzBr/stars.jpg",
            "https://i.ibb.co/cXHkCR8/qinliu.jpg",
            "https://i.ibb.co/ws3bJ1N/eleven-chapter.jpg",
        ];
        body.style.backgroundImage = 'url(' + backgrounds[(Math.floor(Math.random() * backgrounds.length))] + ')';
    }
    body.style.backgroundSize = "cover";
    body.style.backgroundPosition = "center";
    body.style.backgroundRepeat = "no-repeat";
</script>