{{ $image0 := resources.Get "img/arknights-0.png" }}
{{ $image1 := resources.Get "img/arknights-1.png" }}
{{ $image2 := resources.Get "img/arknights-2.png" }}
{{ $image3 := resources.Get "img/arknights-3.png" }}
{{ $image4 := resources.Get "img/arknights-4.png" }}
{{ $image5 := resources.Get "img/arknights-5.png" }}
{{ $image6 := resources.Get "img/arknights-6.png" }}
{{ $image7 := resources.Get "img/arknights-7.png" }}
{{ $image8 := resources.Get "img/arknights-8.png" }}
{{ $image9 := resources.Get "img/arknights-9.png" }}
{{ $image10 := resources.Get "img/arknights-10.png" }}
<img id="background-img" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1">
<script>
    var img = document.getElementById("background-img");
    let background = ["{{ $image0.RelPermalink }}", "{{ $image1.RelPermalink }}", "{{ $image2.RelPermalink }}", "{{ $image3.RelPermalink }}", "{{ $image4.RelPermalink }}", "{{ $image5.RelPermalink }}", "{{ $image6.RelPermalink }}", "{{ $image7.RelPermalink }}", "{{ $image8.RelPermalink }}", "{{ $image9.RelPermalink }}", "{{ $image10.RelPermalink }}"];
    img.src = background[Math.floor(Math.random() * background.length)];
</script>