{{ if .Site.Params.useFrontPage }}
<!DOCTYPE html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet" type="text/css">
        <!-- Rooney Sans Light -->
    </head>
    <body>
        <div id="div_new" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-image: url(https://i.ibb.co/SnnFSXD/front.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div style="height: 50%; display: flex; align-items: end; justify-content: center;">
                <p id="title" style="font-family: 'Tajawal'; font-weight:100; font-size: 40px; letter-spacing: 0.25ch; color: white"></p>
                <script type="application/javascript">
                    var p = document.getElementById('title');
                    p.innerHTML = '';
                    var n = 0;
                    var str = 'WELCOME TO {{ T "nameLarge" | safeHTML }} BLOG';
                    var typeTimer = setInterval(function() {
                    n = n + 1;
                    p.innerHTML = str.slice(0, n) + "_";
                    if (n === str.length) {
                        clearInterval(typeTimer);
                        p.innerHTML = str;
                        n = 0;
                        p.style.display = "relative";
                        p.style.left = "0";
                        p.style.width = "690px";
                        setInterval(function() {
                            if (n === 0) {
                                p.innerHTML = str + "_";
                                p.style.paddingRight = "0";
                                n = 1;
                            } else {
                                p.innerHTML = str;
                                n = 0;
                            };
                        }, 500);
                    };
                    }, 120)
                </script>
            </div>
            <div style="height: 28%; display: flex; align-items: center; justify-content: center;">
                <canvas id="start-button" width="150" height="150"></canvas>
                <script type="application/javascript">
                    var start = 0;

                    function sleep(delay) {
                        var start = new Date().getTime();
                        while (new Date().getTime() < start + delay);
                    }

                    function draw() {
                        const canvas = document.getElementById("start-button");
                        if (canvas.getContext) {
                            const ctx = canvas.getContext('2d');
                            ctx.clearRect(0, 0, 150, 150);
                        
                            ctx.fillStyle = '#ffd802';
                            ctx.strokeStyle = '#ffd802';
                            ctx.translate(75, 75);
                            ctx.save();
                            ctx.beginPath();
                            ctx.moveTo(-1, -10);
                            ctx.lineTo(-1, 0);
                            ctx.lineTo(-1 + 2 * 5, -5);
                            ctx.fill();
                            
                            ctx.beginPath();
                            ctx.lineWidth = 5;
                            ctx.moveTo(3, -25);
                            ctx.lineTo(-27, 5);
                            ctx.lineTo(3, 35);
                            ctx.lineTo(33, 5);
                            ctx.lineTo(3 - Math.sqrt(2), -25 - Math.sqrt(2));
                            ctx.stroke();
                        
                            ctx.restore();
                            ctx.beginPath();
                            ctx.font = "italic 12px sans-serif";
                            ctx.fillText("START", -16, 13);
                        
                            start += 2.7;
                            if (start >= 50) {
                                sleep(50);
                            }
                            start %= 50;
                            var gap = start;
                            ctx.restore();
                            ctx.beginPath();
                            ctx.lineWidth = 5;
                            var opacity = ((50 - start)/50);
                            ctx.strokeStyle = 'rgb(255,216, 2,' + opacity.toString() + ')';
                            ctx.moveTo(3, -25 - gap);
                            ctx.lineTo(-27 - gap, 5);
                            ctx.lineTo(3, 35 + gap);
                            ctx.lineTo(33 + gap, 5);
                            ctx.lineTo(3 - Math.sqrt(2), -25 - Math.sqrt(2) - gap);
                            ctx.stroke();
                            ctx.translate(-75, -75);
                            
                            const fps = 1000/60;
                            window.requestAnimationFrame(() => {
                                setTimeout(this.draw.bind(this), fps);
                            });
                        }
                    }

                    window.requestAnimationFrame(draw);
                </script>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
            var toggleButton = document.getElementById("start-button");
            toggleButton.addEventListener("click", function() {
                window.location.href = "/page/main";
            });
            });
        </script>
    </body>
</html>
{{ else }}
<html>
    <head>
        <meta http-equiv="refresh" content="0; url=/page/main" />
    </head>
</html>
{{ end }}